 <%= render 'shared/preloader' %>

<head>
 <nav class="navbar navbar-fixed-top">
   <%= image_tag 'header.png', style: 'width:100%;' %>
 </nav> 
</head>

<div id="main-bcg">
    <div class="bcg">
    
    
    
        <div class="col-lg-6 col-centered">
            
            &nbsp;
            <%= render 'layouts/buttons' %>
        </div>  
        
    
    
    </div>
    
</div>
</div>


