<div class="center">

<div class="phone-pad"></div>

        <div class="cloud-container-phone">
          <div class="vertc-phone">
            
            <div class="phone-logo">About</div>
            
          </div>
        </div>

<div class="phone-pad"></div>
<div class="phone-pad"></div>

        <div data-0="padding-left:-50px" data-1400="padding-left:-150px;" data-1900='padding-left:-50px;'>
        
        <div class="cloud-container-phone">
          <div class="vertc-phone">
                <div class="phone-text">
                  Heres what the game is about: kusdgbvlzsbfwbfWBFLiueabifuhae Test shdbfvaehgfblIFBlFBlIBF TEST SKJDfbGFIUGqwifbksdjvbksjzdlhgfkzjhfgafguLY
                </div>
              </div>
            </div>
            
          </div>
          
<div class="phone-pad"></div>
<div class="phone-pad"></div>

      <ul>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Home', root_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Customers', reviews_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Buy', purchase_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Contact Us!', new_message_path, method: :get %></h1></button></li>
      </ul>
      
<div class="phone-pad"></div>

</div>