

<% provide(:title, "home") %>
  
<div class="center">

<div class="phone-pad"></div>

<%= image_tag 'logo-cloud', class: 'cloud-phone', style: 'position:relative; z-index:1040;' %>

        <div class="cloud-container-phone">
          <div class="vertc-phone">
            <ul>
            <li><div class="phone-logo">Whatever Man</div></li>
            </ul>
          </div>
        </div>

<div class="phone-pad"></div>
<div class="phone-pad"></div>
      
      
      <ul>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'About', about_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Customers', reviews_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Buy', purchase_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Contact Us!', new_message_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Whatever Man', whateverman_path, method: :get %></h1></button></li>
      </ul>
      
      <%= render 'layouts/buttons' %>
      
    </div>
    
<div class="phone-pad"></div>
    



    


