<%= render 'shared/preloader' %>

 <nav class="navbar navbar-fixed-top">
   <%= image_tag 'header.png', style: 'width:100%;' %>
 </nav> 


<div id="main-bcg">
  <div class="bcg">
    
    <div class="padding-main">
      
    <div class="center">
      <%= image_tag 'logo-cloud', style: 'position:relative; z-index:1040;' %>
      &nbsp;
      
      <ul>
        <li><button class="btn btn-primary btn-lg logo"><h1><%= link_to 'About', about_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-lg"><h1><%= link_to 'Customers', reviews_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-lg"><h1><%= link_to 'Buy', purchase_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-lg"><h1><%= link_to 'Contact Us!', new_message_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-lg"><h1><%= link_to 'Whatever Man', whateverman_path, method: :get %></h1></button></li>
      </ul>
      
      <%= render 'layouts/buttons' %>
      
    </div>
    
    </div>
    
</div>
</div>


