<% provide(:title, "Buy the Game!") %>
    
<div class="center">

<div class="phone-pad"></div>

        <div class="cloud-container-phone">
          <div class="vertc-phone">
            <ul>
            <li><div class="phone-logo">Get your own man!</div></li>
            </ul>
          </div>
        </div>

<div class="phone-pad"></div>
<div class="phone-pad"></div>
      
<%= image_tag 'whatever-bcg-old.jpg', class: 'buy-image' %>
&nbsp;
<%= render 'layouts/paypal_button_phone' %>
      
<div class="phone-pad"></div>
<div class="phone-pad"></div>

      <ul>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Home', root_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'About', about_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Customers', reviews_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Contact Us!', new_message_path, method: :get %></h1></button></li>
      </ul>
      
      <%= render 'layouts/buttons' %>
      

    
<div class="phone-pad"></div>
</div>    



    


