 <%= render 'shared/preloader' %>

<head>
 <nav class="navbar navbar-fixed-top">
   <%= image_tag 'header.png', style: 'width:100%;' %>
 </nav> 
</head>

<div id="main-bcg">
    <div class="bcg">
      <div class="center">
        <%= image_tag 'logo-cloud', style: 'position:relative; z-index:1040;' %>
      </div>
      
      <div id="slide-menu">
          <div class="bcg">
            <h1><span>
              Get your own bro!
            </span></h1>
          </div>
      </div>

    </div>
</div>


<div id="main-bcg">
    <div class="bcg">        


<div class="bottom-padding" style="padding-top: 25px;">
        <div class="container-fluid">
            
            <div class="center">
                <%= image_tag 'whatever-bcg-old.jpg', class: 'buy-image' %>
                &nbsp;
                <%= render 'layouts/paypal_button' %>
            </div>
            
        </div>
</div>
        
        
    </div>
</div>