<%= render 'shared/preloader' %>

 <nav class="navbar navbar-fixed-top">
   <%= image_tag 'header.png', style: 'width:100%;' %>
 </nav> 

<div id="main-bcg">
    <div class="bcg">
      <div class="center">
        <%= image_tag 'logo-cloud', style: 'position:relative; z-index:1040;' %>
      </div>
      
      <div id="slide-menu">
  <div class="bcg">
    <h1><span>
      Reviews!
    </span></h1>
  </div>
</div>

    </div>
</div>




<div id="main-bcg">
    <div class="bcg">
      
      
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
        <br />
        <br />
        <div data-0="padding-left:60px" data-500="padding-left:120px;" data-1000='padding-left:60px;'>
        
        <div class="cloud-container-under">
          <div class="vertc">
                <%= image_tag '10guy-1', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-6">
          <div data-0="padding-left:120px" data-500="padding-left:60px;" data-1000='padding-left:120px;'>
          <div class="cloud-container">
            <div class="vertc">
              
                <p>dat review boi</p>
              
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>


</div>
</div>


<div id="main-bcg">
    <div class="bcg">
      
      
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
        <div data-0="padding-left:120px" data-1000="padding-left:60px;" data-1500='padding-left:120px;'>
        
        <div class="cloud-container">
          <div class="vertc">
                
                <p>Another review</p>
                
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-6">
          <div data-0="padding-left:60px" data-1000="padding-left:120px;" data-1500='padding-left:60px;'>
          <br />
          <br />
          <br />
          <div class="cloud-container-under">
            <div class="vertc">
              
                <%= image_tag '10guy-2', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>


</div>
</div>

<div id="main-bcg">
    <div class="bcg">
      
      
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
        <div data-0="padding-left:120px" data-2000="padding-left:60px;" data-2500='padding-left:120px;'>
        
        <div class="cloud-container-under">
          <div class="vertc">
                <%= image_tag '10guy-3', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-6">
          <br />
          <br />
          <div data-0="padding-left:60px" data-2000="padding-left:120px;" data-2500='padding-left:60px;'>
          <div class="cloud-container">
            <div class="vertc">
              
                <p>Ayy 3rd review</p>
              
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>


</div>
</div>

<div id="main-bcg">
    <div class="bcg">
      
      
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
        <div data-0="padding-left:120px" data-3000="padding-left:60px;" data-3500='padding-left:120px;'>
        
        <div class="cloud-container">
          <div class="vertc">
                
                <p>Final Review</p>
                
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="col-lg-6">
          <div data-0="padding-left:60px" data-3000="padding-left:120px;" data-3500='padding-left:60px;'>
          <br />
          <div class="cloud-container-under">
            <div class="vertc">
              
                <%= image_tag '10guy-4', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>

<br />
<br />
</div>
</div>