<div class="center">

<div class="phone-pad"></div>

        <div class="cloud-container-phone">
          <div class="vertc-phone">
            
            <div class="phone-logo">Reviews!</div>
            
          </div>
        </div>

<div class="phone-pad"></div>
<div class="phone-pad"></div>

        <div data-0="padding-left:50px" data-1400="padding-left:150px;" data-1900='padding-left:50px;'>
        
        <div class="cloud-container-phone">
          <div class="vertc-phone">
                <%= image_tag '10guy-1', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              </div>
            </div>
            
          </div>
       
          <div data-0="padding-left:150px" data-1800="padding-left:60px;" data-2300='padding-left:150px;'>
          <div class="cloud-container-phone">
            <div class="vertc-phone">
              
                <div class="phone-text">dat review boi</div>
              
              </div>
            </div>
            </div>

<div class="phone-pad"></div>


        <div data-0="padding-left:50px" data-2500="padding-left:150px;" data-3000='padding-left:50px;'>
        
        <div class="cloud-container-phone">
          <div class="vertc-phone">
                <%= image_tag '10guy-2', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              </div>
            </div>
            
          </div>
       
          <div data-0="padding-left:150px" data-2900="padding-left:60px;" data-3500='padding-left:150px;'>
          <div class="cloud-container-phone">
            <div class="vertc-phone">
              
                 <div class="phone-text">another review</div>
              
              </div>
            </div>
            </div>

<div class="phone-pad"></div>


        <div data-0="padding-left:50px" data-3600="padding-left:150px;" data-4000='padding-left:50px;'>
        
        <div class="cloud-container-phone">
          <div class="vertc-phone">
                <%= image_tag '10guy-3', style: 'max-height:200px; max-width:200px; z-index:999;'%>
              </div>
            </div>
            
          </div>
       
          <div data-0="padding-left:150px" data-3900="padding-left:60px;" data-4700='padding-left:150px;'>
          <div class="cloud-container-phone">
            <div class="vertc-phone">
              
                 <div class="phone-text">2hi4Areview</div>
              
              </div>
            </div>
            </div>

<div class="phone-pad"></div>
<div class="phone-pad"></div>

      <ul>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Home', root_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'About', about_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Buy', purchase_path, method: :get %></h1></button></li>
        <li><button class="btn btn-primary btn-xlarge"><h1><%= link_to 'Contact Us!', new_message_path, method: :get %></h1></button></li>
      </ul>
      
<div class="phone-pad"></div>


</div>

