<%= render 'shared/preloader' %>

<head>
 <nav class="navbar navbar-fixed-top">
   <%= image_tag 'header.png', style: 'width:100%;' %>
 </nav> 
</head>


    
    
    
    <div class="youtube-responsive-container">
        '<iframe width="560" height="315" <%= @videSelection.chomp('"').reverse.chomp('"').reverse %>?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>'
    </div>
    
    
    



