 <%= render 'shared/preloader' %>

<nav class="navbar navbar-fixed-top">
   <%= image_tag 'header.png', style: 'width:100%;' %>
 </nav> 


<div id="main-bcg">
  <div class="bcg">
  
  <div class="row">
    <div class="col-md-6 col-centered">
    
    <div style="padding-left:60px;">
      <div class="cloud-container">
        <div class="vertc">
              
          <h1>Contact Us!</h1>
          
        </div>
      </div>
    </div>
    
      <div class="padding-desktop"></div>  
      
<% @message = Message.new %>

    <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'name' %>
      <%= f.email_field :email, placeholder: 'email' %>
      <%= f.text_area :content, placeholder: 'message' %>
      <%= f.submit 'Send' %>
    <% end %>
 
&nbsp;
      
  <div class="padding-desktop"></div>
  
  </div>
</div>