<% provide(:title, "Contact") %>
<div class="center">
    <div class="cloud-container-phone">
          <div class="vertc-phone">
            
            <div class="phone-logo">Contact Us!</div>
            
          </div>
        </div>
        
<div class="cloud-container-phone">
  <div class="vertc-phone">
    <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'name' %>
      <%= f.email_field :email, placeholder: 'email' %>
      <%= f.text_area :content, placeholder: 'message' %>
      <%= f.submit 'Send' %>
    <% end %>
  </div>
</div>

</div>

