
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #161616;
$black: #000000;
$cyan: #00FFFF;
$light-orange: #ffcc00;
$lime: #00ff00;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.phone-pad {
  padding-top: 200px;  
  padding-bottom: 200px;
}

.padding-desktop {
  padding-top: 40px;  
  padding-bottom: 40px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-fixed-bottom {
  z-index: 1900;
}

.side-pad {
  padding-left: 50px;  
}

/* universal */

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  /*
  padding-bottom: 200px;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 90px;
  */
  height: 100%;
  width: 100%;
}

#phone-body {
  height: 100%;
  width: 100%;
  background-image: url('whatever-bcg.jpg');
  background-repeat: no-repeat;
  //background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

#phone {
    background-image: url('whatever-bcg.jpg');
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 100%;
	  position: fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  }

.column-main {
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  width: 100%;
}

.container {
  padding-top: 0px;
  padding-bottom: 0px;
  .header {
    background-color: $cyan;
  }
}

.cloud-container {
    background-image: url('cloud-border-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 475px;
    position: relative;
    z-index: 1060;
  }
  
.cloud-container-under {
    background-image: url('cloud-border.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    position: relative;
    z-index: 999;
    span {
      padding-top: 12px;
    }
    .wrap {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
    }
  }
  
  
.cloud-container-phone {
    background-image: url('cloud-phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 675px;
    position: relative;
    z-index: 999;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
  }

.cloud-phone {
  height: 500px;
  width: 675px;
  position: relative;
  z-index: 999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.container-center {
  text-align: center;
}

.container-fluid {
  padding-top: 30px;  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-main {
  padding-top: 20px;
  padding-bottom: 60px;
}

.bottom-padding {
  padding-bottom: 180px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $white;
  u {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.7em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.1em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $white;
}

.tiny {
  padding-top: 10em;
  font-size: 0.9em;
  line-height: 0.9em;
  letter-spacing: -1px;
}


#logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.0em;
  color: $white;
  text-transform: none;
  letter-spacing: 1.2px;
  text-align: left;
  padding-left: 3em;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: normal;
  span {
    background: $dark-gray-darker;
    opacity: 0.5;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  u {
     text-decoration: underline;
  }
}

#logo-two {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.0em;
  color: $black;
  text-transform: none;
  letter-spacing: 1.2px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: normal;
  span {
    background: $cyan;
    opacity: 0.5;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

.row-head {
    background: $lime;
    opacity: 0.7;
    margin-left: 0.0px;
    margin-right: 0.0px;
}

#logo-three {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.0em;
  color: $black;
  text-transform: none;
  letter-spacing: 1.2px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
  font-weight: normal;
  span {
    background: $light-orange;
    opacity: 0.7;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

#logo-four {
  font-family: 'Abril Fatface', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $white;
}

#logo-five {
  font-family: 'Abril Fatface', cursive;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $black;
}

.phone-logo {
  font-family: 'Berkshire Swash', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 5.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $black;
}

.phone-text {
    font-size: 3.1em;
  }
  
#phone-logo-1 {
  font-family: 'Berkshire Swash', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 2.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $black;
  &:hover {
    color: $dark-gray-darker;
    text-decoration: none;
  }
}

#phone-logo-2 {
  font-family: 'Berkshire Swash', cursive;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $black;
  &:hover {
    color: $dark-gray-darker;
    text-decoration: none;
  }
}

/* header */

head {
      //background-image: url('header.png');
	    //background-repeat: no-repeat;
	    //background-size: 100%;
	    position: fixed;
	    height: 100%;
	    width: 100%;
	    z-index: 102; /* Put it on top of the body */
	    top: 0px; /* Make sure it is ALWAYS at the top */
}

/* footer */

footer {
      background-image: url('footer.png');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    //position: fixed;
	    //height: 100%;
	    //width: 100%;
	    //z-index: 102;
	    bottom: 0;
	    //margin-top: 100%;
}


.well{
background-color: $white !important;
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $white;
  &:hover {
      color: $gray-darker;
  }
  h1 {
    font-family: 'Indie Flower', cursive;
    line-height: 1;
    font-size: 1.8em;
    letter-spacing: -1px;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 0px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  .paypal{border:none}
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

/* Slider */
.flexslider { 
  height: 550px;
  width: 710px;
  margin:0 auto;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}

.slides { 
  height: 750px;
  width: 710px;
  margin:0 auto;
  margin-bottom: 0;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  padding-right: 20em;
  padding-left: 15em;
}

.vertc {
    min-height: 100%;  
    min-height: 40vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: $black;
    }
  }

.vertc-phone {
    min-height: 100%;  
    padding-top: 170px;
    
    justify-content: center;
    align-items: center;
    p {
      color: $black;
    }
  }
  
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    color: $light-gray;
  }
}

.social-buttons {
  text-align: right; 
  padding-bottom: 50px;
}

/* Skrollr */

#main-bcg .bcg {
  height: 100%;
  width: 100%;
  background-image: url('whatever-bcg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  //padding-top: 10em;
  //padding-bottom: 3em;
}

#main-bcg-phone .bcg {
  height: 100%;
  width: 100%;
  background-image: url('whatever-bcg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
  padding-top: 10em;
  padding-bottom: 3em;
}

#slide-about .bcg {
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-image: url('stars.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  border-radius: 25px;
  p {
    top: 0;
  }
}

#slide-1 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg1.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
}

#slide-2 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg2.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
}

#slide-3 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg3.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
}

#slide-4 .bcg {
  height: 100%;
  width: 100%;
  background-image: url('bkg7.jpeg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
}

#slide-5 .bcg {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  p {
    color: $white;
    opacity: 0.7; 
  }
  li {
    color: $white;
    opacity: 0.7; 
  }
}

#slide-f .bcg {
  height: 30px;
  width: 100%;
  background: $dark-gray-darker;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding-bottom: 0px;
  p {
    color: $white;
    font-size: 0.9em;
    line-height: 0.9em;
    letter-spacing: -1px;
    padding-bottom: 0px;
  }
}

#slide-bcg .bcg {
  height: 100%;
  width: 100%;
  background-image: url('whatever-bcg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  padding-top: 5em;
  padding-bottom: 3em;
}

#slide-bcg-s .bcg {
  height: 100%;
  width: 100%;
  background-image: url('stars-reverse.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  padding-top: 0px;
  padding-bottom: 0px;
}

#slide-bcg-bottom .bcg {
  height: 100%;
  width: 100%;
  background: $black;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  padding-top: 5em;
  padding-bottom: 3em;
}

.bcg-slant {
  height: 100px;
  width: 100%;
  background-image: url('slant-bcg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
}

#slide-test .bcg {
  height: 100%;
  width: 100%;
  //opacity: 0.9;
  background-image: url('stars.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  border-radius: 5px;
}

#slide-test-bottom .bcg {
  height: 100%;
  width: 100%;
  //opacity: 0.9;
  background-image: url('stars-reverse.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
  border-radius: 5px;
  padding-bottom: 70px;
}

#head-slide .bcg {
  height: 100%;
  width: 100%;
  background-image: url('headbcg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  margin:0;
}

#slide-x .bcg {
  height: 200px;
  width: 100%;
  background-color: transparent;
  padding-bottom: 0px;
  h1 {
    color: $white;
    opacity: 0.7;
  }
}

#slide-menu .bcg {
  height: 30px;
  width: 100%;
  background: $black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 0px;
  padding-top: 0px;
  h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4.0em;
    color: $white;
    text-transform: none;
    letter-spacing: 1.2px;
    font-weight: normal;
    position: center;
    span {
      background: $black;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
}

  
.con {
  padding-left: 25em;
  padding-right: 25em;
}

#slides-padded {
  top: 0;
  padding-left: 25px;
  padding-right: 25px;
  img {
    max-width: 450px;
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 50%;
  }
}

#mySvg {
  position: static;
}

.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.flip90 {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}

.flex-direction-nav a:before {
    font-family:"Arial";
    font-size: 40px;
    line-height:1;
    display: inline-block;
    content:'<';
}

.flex-direction-nav a.flex-next:before {
    content:'>';
}


/* Sidebars */

.sidebar-left {
    background-image: url('side-l.png');
    height: 100%;
    width: 160px;
    position: fixed;
    background-repeat: no-repeat;
	  background-size: 100%;
    z-index: 1020;
    //-index: 1020; for behind header/footer
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sidebar-right {
    background-image: url('side-r.png');
    height: 100%;
    width: 160px;
    position: fixed;
    background-repeat: no-repeat;
	  background-size: 100%;
    z-index: 1040;
     //z-index: 1020; for behind header/footer
    top: 0;
    right: 0;
    overflow-x: hidden;
}


#scroll-header {
	    background-image: url('header.png');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    position: fixed;
	    height: 100%;
	    width: 100%;
	    z-index: 101; /* Put it on top of the body */
	    top: 0; /* Make sure it is ALWAYS at the top */
}

#scroll-footer {
	    position: fixed;
	    bottom: 0px;
	    background-image: url('footer.png');
	    background-repeat: no-repeat;
	    background-size: 100%;
	    z-index: 100;
	    height: 100%;
	    width: 100%;
	 }
	 

.paypalbutton {
  height: 50px;
  width: 200px;
  margin:0 auto;
}

.paypalbutton-phone {
  height: 100px;
  width: 400px;
  margin:0 auto;
}

.btn-xlarge {
    font-size: 60px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}




.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: $black;
    z-index: 99999;
}
 
.preloader .preloader-gif{
    display: block;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 75%;
    left: 60%;
    //margin: -70px 0 0 -170px;
    transform: translate(-50%, -50%);
    background: url('diamond-preloader.gif') no-repeat;   
}

.preloader .preloader-gif-phone{
  display: block;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 60%;
    left: 65%;
    //margin: -70px 0 0 -170px;
    transform: translate(-50%, -50%);
    background: url('diamond-preloader.gif') no-repeat;  
}



/* secret page */

.video-background {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.youtube-responsive-container {
position:relative;
height:0;
padding-bottom:56.25%;
padding-top:30px;
height:0;
}

.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
position:absolute;
top: 75%;
left:0;
width:100%;
height:100%;
}