<div class="paypalbutton">
	<div class="center">
		
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="HY5L37PPXUUAY">
<table>
<tr><td><input type="hidden" name="on0" value="Options"><b>How many do you want?</b></td></tr><tr><td><select name="os0">
	<option value="1 Game">1 Game $0.01 USD</option>
	<option value="2 Games">2 Games $0.02 USD</option>
	<option value="3 Games">3 Games $0.03 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="0" height="0">
</form>

	</div>
</div>
