<!DOCTYPE html>
<html>
  
  <meta property="og:url"           content="http://whatever-man-board-game-christianorourke.c9users.io:8080/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Whatever Man the Game" />
  <meta property="og:description"   content="Whatever Man the game, by Emily Hill" />
  <meta property="og:image"         content="assets/diamond.jpg" />
  
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
  </head>
  
  <body>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="skrollr-body">
        
        <%= render 'layouts/application_layout' %>
        <%= render 'layouts/sidebar-left' %>
        <%= render 'layouts/sidebar-right' %>
     
        <%= yield %>
        
	  </div>
	  
	  <script type="text/javascript">
      $(function(){
        skrollr.init({forceHeight: false});
      });
    </script>
    
  </body>
	<nav class="navber navbar-fixed-bottom"><%= image_tag 'footer.png', style: 'width:100%;' %></nav>
</html>

<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">