<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="skrollr-body">
        
        <%= render 'layouts/application_layout' %>
        <%= render 'layouts/sidebar-left' %>
        <%= render 'layouts/sidebar-right' %>
     
        <%= yield %>
    
    <script type="text/javascript">
	    skrollr.init({
		    forceHeight: false;
		    smoothScrolling: true
	    });
	  </script>
	  </div>
  </body>
  
  <footer>
    <br />
    <br />
    <br />
    <br />
    <p>© Whatever Man 2018  | Game and graphic design by Emily Hill 2018</p>
  </footer>
</html>

<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">


